### Fichiers de documentation ###
HELP.md

### Répertoires de build ###
/target/
MedilaboSolutions/target/

### Configuration Eclipse ###
.classpath
.project
.settings
.apt_generated
.factorypath
.springBeans

# Visual Studio Code
.vscode/*
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

### Fichiers de logs ###
.log

### Fichiers temp system ###
.DS_Store
Thumbs.db

### Ignorer les fichiers compilés ###
MedilaboSolutions/backend/bin/
