<div class="header-container">
    <h1 class="table-title">List of Patients</h1>
    <button class="add-patient-btn" (click)="addNewPatient()">+ Add new patient</button>
</div>

<p *ngIf="patients && patients.length === 0">Aucun patient trouvé</p>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Diabetes Risk Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="patients && patients.length > 0; else noPatients">
            <ng-container *ngFor="let patient of paginatedPatients">
                <tr *ngIf="patient.id">
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.lastName }}  {{ patient.firstName}}</td>
                    <td>{{ patient.age }}</td>
                    <td> {{ patient.riskLevel || 'Calculating ...' }}</td>
                    <td>
                        <button class="btn-view" (click)="viewNotes(patient.patId)">View notes</button>
                        <button class="btn-edit" (click)="editPatient(patient)">Edit</button>
                        <button class="btn-delete" (click)="deletePatient(patient.id)">Delete</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<!-- Boutons de pagination -->
 <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage ===1">Previous</button>
    <span>Page {{ currentPage }} of  {{ totalPages }} </span>
    <button (click)="nextPage()" [disabled]="(currentPage * patientsPerPage) >= patients.length">Next</button>
</div>

<ng-template #noPatients>
    <tr>
        <td colspan="4">Aucun patient trouvé</td>
    </tr>
</ng-template>


<div *ngIf="selectedPatientNotes !== null">
    <h2>Notes for Patient with ID: <span class="patient-id">{{ selectedPatientId }}</span></h2>
    <ul *ngIf="selectedPatientNotes.length > 0; else noNotesTemplate">
        <li *ngFor="let note of selectedPatientNotes">
            {{note.note}}
        </li>
    </ul>
    <ng-template #noNotesTemplate>
        <p>No notes found for this patient.</p>
    </ng-template>

    <h3>Add a new note</h3>
    <textarea [(ngModel)]="newNoteContent" class="add-note-textarea" placeholder="Enter a new note ..."></textarea>
    <button class="add-patient-btn" (click)="addNote()">+ Add note</button>
</div>


